#coverPlaylists{
    height:8rem;
    width: 14rem;
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
}

#renderFeaturedPlaylists{
    display: flex;
    overflow-x: scroll;
    gap: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#renderFeaturedPlaylists a, p, h3, h2, h1{
    color: #e5e5e5e7;
    font-family:'Montserrat';
}

.playlistCartao{
    gap: 0.8rem;
}
.playlistTracks{
    font-weight: 100;
    font-size: smaller;
}