#coverPlaylists{
    height:8rem;
    width: 14rem;
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
}

#renderFeaturedPlaylists{
    display: flex;
    overflow-x: auto;
    gap: 0.8rem;
    padding: 0.8rem;
}
.playlistCartao{
    gap: 0.8rem;
}
.playlistTracks{
    font-weight: 100;
    font-size: smaller;
}