
#coverProfile{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
}
 
#renderProfileViews{
    /* display: block; */
    gap: 0.3em;
    padding: 0.3rem;
}
.profileViewsCartao{
    gap: 0.4rem;
    margin-right: 4rem;
}
.profileData{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}
.profileViewContainer{
    display: flex;
    align-content: center;
    padding-top: 10px;
}
#renderProfileViews a, p, h3, h2, h1{
    color: #e5e5e5e7;
    font-family:'Montserrat';
}
#busca-header{
    display: flex;
    background-color:transparent;
    width:300px;
    padding-top: 15px;
    align-items: center;
  }
#busca-header svg{
    float: left;
 	font-size: inherit;
 	height: 1em;
 	overflow: visible;
 	fill: #8d8d8d ;
}
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:10px;
    font-size:11px;
    border:none;
    height:10px;
    width:260px;
    font-family: 'Montserrat';
    color:#8d8d8d ;
  }