
#coverTrack{
    height:5.5rem;
    width:5.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
}
#renderTracks a, p, h3, h2, h1{
    color: #e5e5e5e7;
    font-family:'Montserrat';
}
#renderTracks{
    width: 40vw;
    display: flex;
    gap: 0.8em;
    overflow-x:auto;
    padding: 0.3rem;
}
.tracksCartao{
    gap: 0.4rem;
}
.trackData{
    text-align: center;
    text-justify: center;
}
.trackAlbum{
    font-weight: 100;
    font-size: 11px;
    color: #808080;
}
.tracksContainer{
    width: 5.6rem;
    display: block;
    justify-content: center;
    align-items: center;
}
 
